<!doctype html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlaskHACS - {{ guild.name }}</title>
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/guild.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">FlaskHACS</li>
          <li><a href="/">Start</a></li>
          <li><a href="#0">Hilfe</a></li>
          <li><a href="#0">Über</a></li>
          <li><a href="/contact">Kontakt</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="menu-text">Wettbewerbs Team beitreten oder verwalten</li>
        </ul>
      </div>
    </div>


    <div id="guild-heading" class="grid-x">
        <div class="cell">
            <div id="guild-div" class="row float-left">
                <div id="guild-picture" class="medium-8 large-4 columns"><img src="{{ guild.icon_url }}" alt=""></div>
                <div id="guild-name" class="medium-4 large-8 columns text-center">{{ guild.name }}</div>
            </div>
        </div>

        <div class="cell" style="margin-top: 10px;">
            <div id="teams-banner" class="float-left">
                <a data-open="create-team-modal"><button type="button" class="button">Team erstellen</button></a>
                <a href="../" class="button">Normaler Modus</a>
            </div>
            <div id="teams-banner" class="float-right">
                <div class="callout alert">
                    <h5>Admin Modus!</h5>
                </div>
            </div>
        </div>
    </div>

    <div id="teams">
        <h4>Teams bestätigen</h4>
        {% if teams != () %}
        {% for team in teams %}
        {% if team.status == "pending" %}
        <div class="team">
            <div class="float-left">
                <p class="team-name">{{ team["name"] }}</p>
                {% if team["description"] != "" %}
                <p class="team-des">{{ team["description"] }}</p>
                {% endif %}
            </div>
            <div class="float-right">
              <form action="/confirm_team/" method="post">
                <input type="hidden" name="guild_id" value="{{ guild.id }}">
                <input type="hidden" name="team_id" value="{{ team.id }}">
                <button type="submit" class="success button">Team bestätigen</button>
              </form>
              <form action="/delete_team/" method="post">
                <input type="hidden" name="guild_id" value="{{ guild.id }}">
                <input type="hidden" name="team_id" value="{{ team.id }}">
                <button type="submit" class="alert button">Team löschen</button>
              </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <h4>Teams verwalten</h4>
        {% if teams != () %}
        {% for team in teams %}
        {% if team.status == "valid" %}
        <div class="team">
            <div class="float-left">
                <p class="team-name">{{ team["name"] }}</p>
                {% if team["description"] != "" %}
                <p class="team-des">{{ team["description"] }}</p>
                {% endif %}
            </div>
            <div class="float-right">
              <a data-open="delete-team-{{team.id}}-modal"><button type="button" class="alert button">Team löschen</button></a>
            </div>
            {% if joins[team.id] != [] %}
            <br>
            <hr>
            <h5>Beitrittsanfragen</h5>
            <div class="float-right">
              <div id="join-request">
                {% for join in joins[team.id] %}
                <div class="join-request-with-name">
                  <p>{{ join.name }}</p>
                  <div class="float-right">
                    <form action="/accept_join/" method="post" class="join-accept-form">
                      <input type="hidden" name="team_id" value="{{ team.id }}">
                      <input type="hidden" name="user_id" value="{{ join.id }}">
                      <input type="hidden" name="guild_id" value="{{ guild.id }}">
                      <input type="hidden" name="admin" value="true">
                      <button class="success button" type="submit" style="margin: 0;">Annehmen</button>
                    </form>
                    <form action="/reject_join/" method="post" class="join-reject-form">
                      <input type="hidden" name="team_id" value="{{ team.id }}">
                      <input type="hidden" name="user_id" value="{{ join.id }}">
                      <input type="hidden" name="guild_id" value="{{ guild.id }}">
                      <input type="hidden" name="admin" value="true">
                      <button class="alert button" type="submit" style="margin: 0;">Ablehnen</button>
                    </form>
                  </div>
                </div>
                <hr>
                {% endfor %}
              </div>
            </div>
            {% endif %}

            <div class="reveal" id="delete-team-{{team.id}}-modal" data-reveal>
              <h2>Team löschen</h2>
              <p>Dabei wird die Team-Rolle entfernt, und die Channel unsichtbar gemacht und umbenannt!</p>
              <form action="/delete_team/" method="post">
                <input type="hidden" name="team_id" value="{{ team.id }}">
                <button type="submit" class="alert button">Team löschen</button>
              </form>
              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

    <div class="reveal" id="create-team-modal" data-reveal>
      <h4>Team erstellen</h4>
      <form action="/create_team/" method="post">
          <div class="row">
              <label>
                  Teamname
                  <input type="text" name="team_name">
              </label>
          </div>
          <div class="row">
              <label>
                  Beschreibung
                  <input type="text" name="team_des">
              </label>
          </div>
          <div class="row">
              <label>
                  Kontakt
                  <input type="email" name="email">
              </label>
          </div>
          <input type="hidden" name="guild_id" value="{{ guild.id }}">
          <input type="hidden" name="admin" value="true">
          <input class="button" type="submit">
      </form>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

    {% extends "flash.html" %}

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/what-input.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
