<!doctype html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FlaskHACS - Kontakt</title>
        <link rel="stylesheet" href="/css/foundation.min.css">
        <link rel="stylesheet" href="/css/contact.css">
    </head>
    <body>
        <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">FlaskHACS</li>
            <li><a href="/">Start</a></li>
            <li><a href="/help">Hilfe</a></li>
            <li><a href="/about">Über</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
            <li class="menu-text">Perönliche Informationen ändern</li>
            </ul>
        </div>
        </div>

        <div class="content-big">
            <form action="/post_personal_infos/" method="POST">
                <label>
                    Wie ist dein Vorname?
                    <input type="text" name="first_name" value="{{ data.first_name }}">
                </label>
                <label>
                    Wie ist dein Nachname?
                    <input type="text" name="last_name" value="{{ data.last_name }}">
                </label>
                <label>
                    In welche Klasse gehst du?
                    <input type="text" name="class" value="{{ data.class }}">
                </label>
                <label>
                    Wie ist deine E-Mail Adresse?
                    <input type="email" name="email" value="{{ data.email }}">
                </label>
                <label>
                    Extras:
                    <input type="text" name="extras" value="{{ data.extras }}">
                </label>
                <p class="help-text">Alle Felder können auch leer gelassen werden!</p>

                <input class="success button" type="submit">
            </form>
        </div>

        {% extends "flash.html" %}

        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/what-input.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script>
        $(document).foundation();
        </script>
    </body>
</html>
