
.applications {
  .list-group {
    .date {
      color: #7a7a7a;
    }

    a {
      transition: 250ms;
      color: #e3e3e3;
      font-size: 0.7em;
      text-decoration: none !important;
      padding: 0.5em;

      svg {
        margin-bottom: 0.4em;
      }

      &:hover {
        color: #8d8d8d;
      }
    }
  }

  .btn {
    margin-top: 1em;
  }
}