.dark {

  .modal-content {
    background-color: #161616;
    color: white;
    border-color: #3c3c3c;
  }

  .modal-header, .modal-footer {
    border-color: #222222 !important;
  }

  .close {
    color: white !important;
    text-shadow: none;
  }

  input[type=text], input[type=password], textarea {
    background-color: #2b2b2b !important;
    border-color: #414141 !important;
    color: white !important;

    &:focus {
      border-color: #565656 !important;
    }
  }

  .list-group-item {
    background-color: #292929;
  }
}
