#head {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #808080;
    text-align: center;
}

#about {
    margin: 0px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;


    background-color: #a5a5a53a;
}

.about-item {
    margin-top: 40px;
}
