
#guild-div {
    display: flex;
}
.cell {
    display: block;
}

#guild-heading {
    padding: 30px;
    width: 100%;
    background-color: #c9c9c9;
}

#guild-picture {
    display: flex;
    width: 100px;
    max-width: 100px;
}
#guild-picture img {
    height: 100px;
    width: 100px;
    max-width: 100px;
    display: flex;
    border-radius: 20px;
}
#guild-name-invite {
    padding-left: 10px;
}

#guild-name {
    display: flex;
    margin-left: 10px;
    font-size: 30px;
}
#guild-invite {
    display: flex;
    width: auto;
    margin-left: 10px;
}

#description {
    font-size: 20px;
    text-align: left;
    min-width: 350px;
}

#guild-buttons {
    padding-top: 20px;
    font-size: 30px;
}

#custom-fields {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    width: 100%;
}
#custom-fields .grid-x {
    width: 100%;
}
#custom-fields .grid-x .cell {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}
#custom-fields hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

#teams-text {
    font-size: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dadada;
}

#teams {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
}

#teams hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.team, #team {
    overflow: auto;

    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    padding: 10px;
    margin-bottom: 30px;
}

.team p {
    margin: 0;
}

.team-name {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace
}

.team-des {
    font-size: 20px;
}

#no-teams {
    font-size: 30px;
}

.join-request-with-name p {
    display: inline;
    padding-right: 30px;
    font-size: 20px;
    height: 100%;
}
.join-request-with-name form {
    display: inline;
}
#join-request hr {
    height: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#row div {
    display: inline;
}

hr {
    max-width: 100%;
}

#team-name {
    font-size: 25px;
    padding-bottom: 10px;
}

.print {
    margin-right: 30px;
}