#head {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #b3b3b3;
    text-align: center;
}

#intro {
    margin-top: 20px;
    padding: 30px;
    background-color: #e0e0e0;
}